FREELANCER_MARKETPLACE_USER_DB_HOST=example
FREELANCER_MARKETPLACE_USER_DB_PORT=port
FREELANCER_MARKETPLACE_USER_DB_USERNAME=your_username_db
FREELANCER_MARKETPLACE_USER_DB_PASSWORD=your_password_db
FREELANCER_MARKETPLACE_USER_DB_DATABASE_NAME=your_database_name_db